<html>
<body>
<p><h1>This is homepage</h1></p>
<p>login succefully!!</p>
<p>currentUse INOF</p>
<p>
User Name :<%=title.name%>
<br/>
User group :<%=title.group%>
</p>
<p>
<a href=".\UserRPT">Manage Users</a>
</p>
</body>
</html>