<!DOCTYPE html>
<html>
  <head>
	<title>my login</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<h1>Hello World</h1>
	<p>Welcome to</p>
	<form action="ucenter" method="post">
		<p>
			<span>Name:</span>
			<br>
			<input id="name" name="name" type="text">
		</p>
<p>
<span>GroupLB:</span>
<br>
<select onchange="tmpJS(this)" id="Ugroup" name="Ugroup">	
<option value="">allUserGroup</option>		

<% for(var i=0;i<allUserGroup.length;i++){ %> 

<option value="<%= allUserGroup[i] %>"><%= allUserGroup[i] %></option>

<% } %> 

</select>

</p>
		<p><input type="submit" value="submit"></p>
	</form>
  </body>
</html>

